doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/index.css")
        script(src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js")
        script(src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js")
        script(src="./index.js")
    body 
        .loader.loader1
        .loader.loader2
        include pug/nav.pug
        .mainContainer 
            include pug/header.pug
            include pug/cat_nature.pug
            .bgScrollTextCon
                .catHeadingScrollView 
                    ul.catScrollHeadings
                        li.catScrollList 
                            h1.scrollHeading Nature
                        li.catScrollList 
                            h1.scrollHeading Urban Scenes
                        li.catScrollList 
                            h1.scrollHeading Wildlife