.allCont_wrapper
    .common_cat_conSection.nature_Section
        .commonCard.heading_card
            .common_HeadingCon
                .initCatHCon
                    h5.catHeading.initCatH Category 
                .initCatH2Con
                    h2.catName.initCatH2 Nature

        <!-- FIRST -->
        .commonCard.ImageCard
            .imageCon 
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2016/11/08/04/49/jungle-1807476__340.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum pariatur itaque asperiores minima doloribus iusto.
                .initCDCon
                    h3.cardTitle.initCardTitle Asperiores Minima 
            .Card_overlay 
            //---greyScale filter
        <!-- SECOND -->
        .commonCard.ImageCard
            .imageCon 
                .cCardinit 
                img(src="https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712__340.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum dolor sit amet, magni ipsum ipsam unde enim pariatur itaque asperiores minima doloribus iusto. Earum cumque 
                .initCDCon
                    h3.cardTitle.initCardTitle Dolor Sit Amet
            .Card_overlay 
            //---greyScale filter        

        <!-- THIRD -->
        .commonCard.ImageCard
            .imageCon 
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2017/10/10/07/48/hills-2836301__340.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum dolor sit amet consectetur tae ipsam molestias ipsum alias, consequatur porro placeat perferendis tempore officiis autem quas, libero itaque? Dolor
                .initCDCon
                    h3.cardTitle.initCardTitle Ipsum Dolor 
            .Card_overlay 
            //---greyScale filter


    .common_cat_conSection.city_section
        .commonCard.heading_card.gridEvenHeading
            .common_HeadingCon.headingCardEvenCon
                .initCatHCon
                    h5.catHeading.initCatH Category 
                .initCatH2Con
                    h2.catName.initCatH2 Urban Scenes

        <!-- FIRST -->
        .commonCard.ImageCard
            .imageCon 
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2013/03/02/02/41/alley-89197_960_720.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum pariatur itaque asperiores minima doloribus iusto.
                h3.cardTitle Asperiores Minima 
            .Card_overlay 
            //---greyScale filter
        <!-- SECOND -->
        .commonCard.ImageCard
            .imageCon 
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2018/02/27/06/30/skyscrapers-3184798_960_720.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum dolor sit amet, magni ipsum ipsam unde enim pariatur itaque asperiores minima doloribus iusto. Earum cumque 
                .initCDCon
                    h3.cardTitle.initCardTitle Dolor Sit Amet
            .Card_overlay 
            //---greyScale filter        

        <!-- THIRD -->
        .commonCard.ImageCard
            .imageCon
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2017/02/25/17/38/george-washington-bridge-2098351_960_720.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum dolor sit amet consectetur tae ipsam molestias ipsum alias, consequatur porro placeat perferendis tempore officiis autem quas, libero itaque? Dolor
                .initCDCon
                    h3.cardTitle.initCardTitle Ipsum Dolor 
            .Card_overlay 

        <!-- FOURTH -->           
        .commonCard.ImageCard
            .imageCon 
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2016/11/29/05/55/adult-1867665_960_720.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum dolor sit amet consectetur tae ipsam molestias ipsum alias, consequatur porro placeat perferendis tempore officiis autem quas, libero itaque? Dolor
                .initCDCon
                    h3.cardTitle.initCardTitle Ipsum Dolor 
            .Card_overlay 
            //---greyScale filter


    .common_cat_conSection.wildlife_section
        .commonCard.heading_card
            .common_HeadingCon
                .initCatHCon
                    h5.catHeading.initCatH Category 
                .initCatH2Con
                    h2.catName.initCatH2 Wildlife

        <!-- FIRST -->
        .commonCard.ImageCard
            .imageCon 
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2016/11/14/04/45/elephant-1822636__340.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum pariatur itaque asperiores minima doloribus iusto.
                .initCDCon
                    h3.cardTitle.initCardTitle Asperiores Minima 
            .Card_overlay 
            //---greyScale filter
        <!-- SECOND -->
        .commonCard.ImageCard
            .imageCon 
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2019/12/05/16/54/blackbird-4675637__340.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum dolor sit amet, magni ipsum ipsam unde enim pariatur itaque asperiores minima doloribus iusto. Earum cumque 
                .initCDCon
                    h3.cardTitle.initCardTitle Dolor Sit Amet
            .Card_overlay 
            //---greyScale filter        

        <!-- THIRD -->
        .commonCard.ImageCard
            .imageCon 
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2014/05/06/19/01/eagle-339128_960_720.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum dolor sit amet consectetur tae ipsam molestias ipsum alias, consequatur porro placeat perferendis tempore officiis autem quas, libero itaque? Dolor
                .initCDCon
                    h3.cardTitle.initCardTitle Ipsum Dolor 
            .Card_overlay 

        <!-- FOURTH -->           
        .commonCard.ImageCard
            .imageCon 
                .cCardinit
                img(src="https://cdn.pixabay.com/photo/2016/12/05/11/39/zebras-1883654__340.jpg", alt="")
            .cardDescriptionCon
                p.cardDescription Lorem ipsum dolor sit amet consectetur tae ipsam molestias ipsum alias, consequatur porro placeat perferendis tempore officiis autem quas, libero itaque? Dolor
                .initCDCon
                    h3.cardTitle.initCardTitle Ipsum Dolor 
            .Card_overlay 
            //---greyScale filter