header.Header
    .HeaderBorderLine
    .HC.H_leftCon 
        ul.ulLogo 
            li.liLogo 
                p.logoP T
            li.liLogo 
                P.logoP i 
            li.liLogo 
                p.logoP P
    .HC.H_midCon 
        .pMidWrap
            p.textMid The
        .pMidWrap
            p.textMid Image place
    .HC.H_rightCon 
        .menuCon
            .menuLine 
            .menuLine 
            .menuLine 
    .HC.H_rightprogressStatic
        .H_rightprogressContainer
            .H_rightProgress
            .H_rightProgressInit
