// MainContainer as overlay
.navOverlay
nav.navMainContainer 
    .navInnerCircle
    button.closeBtn 
    ul.navMenu
        li.navList 
            .line 
            p.navNumP 01 
            p.navP Nature 
        li.navList 
            .line 
            p.navNumP 02 
            p.navP City Scenes

        li.navList 
            .line 
            p.navNumP 03 
            p.navP Wildlife

        li.navList 
            .line 
            p.navNumP 04
            p.navP Space
    .navFooter 
        p.firstPFooter few selected-- &nbsp;&nbsp; <span>The image Gallery<span>
        .footerLine 
            .flineFix
        p.lastPFooter by orzoonDKunwar